html {
    font-family: Comfortaa;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: rgba(0, 128, 0, 0.411);
}

::-webkit-scrollbar-track{
    background-color: rgba(128, 128, 128, 0.13)
}

button:hover {
    cursor: pointer;
}

a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}